
/* Css reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


/* Intestazione della pagina  */
#main-header {
    background-color: white;
    height: 100px;
    margin-bottom: 30px;
}

#logo {
    height: 50px; 
    line-height: 100px;
    vertical-align: middle;
    padding-left: 20px;    
}

figure {
    display: inline;    
}

h1 {
    font-size: 50px;
    display: inline;
    vertical-align: middle;
    line-height: 100px;
    font-family: sans-serif;
    font-weight: 900;
}


/* Generics  */
.tasks-section {
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    font-size: 17.5px;
    cursor: pointer;
}

.titles {
    margin-bottom: 20px;
    margin-top: 20px;
}

.done {
    color: green;
    height: 20px;
    width: 20px;
    border: 1px solid green;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}

.not-done {
    color: red;
    height: 20px;
    width: 20px;
    border: 1px solid red;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;

}

.labels {
    border-radius: 20px;
    text-transform: capitalize;
    padding: 7.5px;
    color: white;
    font-size: 11.5px;
    cursor: pointer;
    line-height: 7.5px;
    vertical-align: middle;
    
}

.container {
    margin-bottom: 25px;
}





/* Utilities  */
body {
    background-color: grey;
    font-family: Helvetica, Arial, Sans-Serif;
}

#add-tasks-table {
    height: 60px;
    width: 60%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 15px;
    padding-left: 45px;
    margin-bottom:  1px;
}

.add-task {
    background-color: #2196f3;
    color: white;
    
}

.add-section {
    border: 1px solid grey;
    color: grey;
    background-color: white;
    
}

.tasks-calendar {
    width: 60%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 600px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 45px;
    padding-top: 20px;

}

.editorial {
    background-color: #46a9e9;
}

.q1-goals {
    background-color:#9a71e3;
}

.talk {
    background-color: #63bea7;
}

.mobile {
    background-color: #e59c41;
}

.website {
    background-color:#d6629f;
}

.sales {
    background-color:#aec72a;
}

.editorial-orange {
    background-color: #e59c41;
}