
/* Css reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


/* Intestazione della pagina  */
#main-header {
    background-color: white;
    height: 100px;
    margin-bottom: 30px;
}

#logo {
    height: 50px; 
    line-height: 100px;
    vertical-align: middle;
    padding-left: 20px;    
}

figure {
    display: inline;    
}

h1 {
    font-size: 50px;
    display: inline;
    vertical-align: middle;
    line-height: 100px;
    font-family: sans-serif;
}


/* Generics  */
.tasks-section {
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    font-size: 17.5px;
    

}

/* Utilities  */
body {
    background-color: grey;
    font-family: Helvetica, Arial, Sans-Serif;
}

#add-tasks-table {
    height: 75px;
    width: 60%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 45px;
    margin-bottom:  1px;
   


}

.add-task {
    background-color: #2196f3;
    color: white;
}

.add-section {
    border: 1px solid grey;
    color: grey;
}

#tasks-calendar {
    width: 60%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 600px;
    border-radius: 5px;

}